/* Google Fonts: Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 3.5rem;
    --slider-height: 30vh;
    /* --- Colors --- */
    --black-color: rgb(22, 28,36);
    --white-color: #fff;
    --violet-color-lighten: #faf6f6b5;
    --violet-color-light: #fce9b7b5;
    --violet-color: #fff1c9;
    --green-color: #00852e;
    --green-color-light:#00b941;
    
    --body-color: rgb(255, 255, 255);


    /* --- Font and typography ---*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .700rem;
    --card-title-font-size: .800rem;
    --card-subtitle-font-size: .600rem;
    
    /* --- Font Weight ---*/
    --font-regular: 400;
    --font-semi-bold: 600;


    /* --- z index ---*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.cabezera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--violet-color-light);
    box-shadow: 0 2px 16px rgba(14, 18, 27, 0.3);
    z-index: var(--z-fixed);
}

.barra_de_navegacion{
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenedor_izquierdo {
    height: var(--header-height);
}

.nav_logo {
    display: inline-flex;
    width: 9rem;
    overflow: hidden;
    column-gap: .20rem;
}

.nav_logo img, .logo_pequeño img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_burger, .nav_close {
    color: var(--black-color);
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .4s, transform .10s;
}

.contenedor_logo_iconos{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 3rem;
}

.nav_toggle {
    position: relative;
    width: 32px;
    height: 32px;
    font-weight: bold;
    margin-right: 0.2rem;
}

.nav_close {
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    .nav_menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

    .nav_menu::-webkit-scrollbar {
        width: 0;
    }

    .menu_lista {
        background-color: var(--violet-color-light);
        padding-top: 1rem;
    }

    .main{
        padding-top: 3.6rem;
    }

    .categoria {
        margin-right: 1rem ;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1580px) {
    .nav_link {
        justify-content: start;
    }
}

.nav_link {
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav_link span {
    display: inline;
    text-align: center;
}

.nav_link:hover, .icono:hover {
    color: #a58019;
}

.mostrar-menu {
    opacity:1;
    top: 3.5rem;
    pointer-events: initial;
}

.mostrar-icono .nav_burger{
    opacity: 0;
    transform: rotate(90deg);
}

.mostrar-icono .nav_close{
    opacity: 1;
    transform: rotate(90deg);
}

.dropdown_item {
    cursor: pointer;
}

.dropdown_arrow{
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown_link {
    padding: 1.25rem 1.25rem 1.25rem 2.3rem;
    color: var(--black-color);
    background-color: var(--violet-color-lighten);
    display: flex;
    align-items: center;
    column-gap: .15rem; 
    font-weight: 500;
    transition: background-color .3s;
}

.dropdown_link:hover {
    background-color:#fff3d4;
}


.dropdown_menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

.dropdown_item:hover .dropdown_menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

.dropdown_item:hover .dropdown_arrow {
    transform: rotate(180deg);
}

.contenedor_derecho{
    padding-left: 0rem 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.contenedor_derecho a {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--black-color);
}

.footer{
    background-color: #f6dd98;
    width: 100%;
    height: auto;
    margin-top: 10rem;
    padding: 2rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_pequeño{
    display: inline-block;
    width: 8rem;
    overflow: hidden;

}

.footer_contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor_redes{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    column-gap: .8rem;
}

.contenedor_redes i {
    font-size: 1.8rem;
    font-weight: 4400;
    color: var(--black-color);
}

.titulo_footer {
    display: block;
    padding: 1rem 0;
    margin-bottom: 1rem;
    font-size: var(--normal-font-size);
    font-weight: 600;
    border-bottom: 2px solid #e8bb3f ;
}

.listado_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem;
}
.listado_footer ul li a{
    color: var(--black-color);
}

.listado_footer ul li {
    padding: 6px 0px;
}

.listado_footer ul li:hover{
    text-decoration: underline;
    transition: text-decoration .7s ease-in-out;
}

.contenedor_medio_de_pago{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.metodo_de_pago{
    width: 1.4rem;
}


.contenedor_medio_de_pago .metodo_de_pago img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


main {
    padding-top: 5.5rem;
    width: 100%;
}

/* Carrusel */

.seccion_carrusel {
    position: relative;
    width: 100%;
    overflow: hidden;    
}

.carrusel {
    transition: transform 0.6s ease;
    display: flex;
    height: 100%;
}

.slider_section {
    min-width: 100%;
    height: 100%;
}

.slider_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_left, .btn_right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.222);
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translateY(-50%);
    transition: .5s ease;
    user-select: none;
    align-items: center;
    justify-content: center;
}

.btn_left:hover, .btn_right:hover {
    background-color: #33333398;
    color:#fff;
}

.btn_left{
    left: 10px;
}

.btn_right {
    right: 10px;
}

/* Categorias */

.seccion_categorias {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 4rem;
}

.seccion__categorias__titulo{
    font-weight: 700;
    padding: 0.7rem 0;
    margin-bottom: 2rem;
}

.contenedor_categorias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.categoria {
    text-decoration: none;
    color: var(--black-color);
    font-weight: var(--font-regular);
    padding: 0.5rem 0.7rem;
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(225, 219, 219);
}

.categoria i {
    padding-right: 0.8rem;
    color: #e3ae1b;
}

.categoria span {
    font-weight: var(--font-semi-bold);
}

/* Seccion productos mas vendidos*/
.seccion_vista_productos {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 4rem;
}

.seccion__mas__vendidos__titulo{
    font-weight: 700;
    padding: 2.2rem 0;
}

.listado_productos{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    scrollbar-color: rgb(250, 224, 180) var(--violet-color);
}

.contenedor_scroll {
    display: flex;
    flex-wrap: nowrap;
}

.card_producto {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 10px rgb(219, 219, 219);
    overflow: unset;
    margin-right: 4rem;
    margin: 1rem 4rem 0.8rem 0rem;
}

.card_producto:first-child {
    margin-left: 0.5rem;
}

.contenedor_img{
    width: 100%;
    height: 150px;
}

.imagenes{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__producto__titulo {
    font-size: var(--card-title-font-size);
    font-weight: 700;
    line-height: 20px;
}

.card__producto__marca {
    font-size: var(--card-subtitle-font-size);
    color: rgb(180, 180, 180);
    display: block;
    padding-top: 0.4rem ;
}

.card__producto__precio{
    font-size: var(--normal-font-size);
    font-weight: bold;
    display: block;
    padding: 1rem 0;
}

.btn_compra {
    background-color: var(--green-color-light);
    color: var(--white-color);
    padding: 0.5rem 0.3rem;
    border-radius: 20px;
    border: 1px solid var(--green-color-light);
    font-size: var(--card-subtitle-font-size);
    font-weight: var(--font-regular);
    cursor: pointer;
}

.btn_compra:hover{
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
    
}

@media screen and (max-width: 340px) {
    .nav_link {
        padding-inline: 1rem;
    }
} 

@media screen and (max-width: 680px) {
    .listado_footer{
        flex-direction: column;
    }

    .metodo_de_pago{
        display: inline-block;
        width: 1.4rem;
    }
}

@media screen and (min-width: 1200px) {
    .contenedor_izquierdo {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: start;
    }

    .nav_toggle {
        display: none;
    }
    .menu_lista {
        height: 100%;
        display: flex;
        column-gap: 2rem;
        padding-right: 1.8rem;
    }

    .nav_link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav_link:hover {
        background-color: transparent;
    }

    .dropdown_item {
        position: relative;
    }

    .dropdown_menu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown_link{
        padding-inline: 1rem 3.5rem;
    }

    .dropdown_item:hover .dropdown_menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }

    
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --slider-height: 50vh;
        --medium-font-size: .900rem;
        --card-subtitle-font-size: .800rem;
    }
}



